* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* Global Styles */
body {
        font-family: 'Roboto',
                sans-serif;
}

img {
        width: 100%;
        height: 100%;
}

a {
        text-decoration: none;
}

/* Button Style */
.btn {
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        border: none;
        background-color: tomato;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
}

.btn:hover {
        background-color: rgb(255, 255, 255);
        border: 1px solid tomato;
}

.btn:hover a {
        color: tomato;
}

.btn a {
        color: white;
}

/* Button Style End */

.container {
        width: 1200px;
        margin: auto;
}



/* Header Style */
.main-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70vh;
}

.right-header {
        width: 30%;
        position: relative;
}

.right-header img {
        width: 300px;
}

.right-header img.img {
        position: absolute;
        left: 0;
        bottom: -10px;
        z-index: -1;
}

.left-header {
        width: 40%;
}

.heading h1 {
        font-size: 40px;
        text-transform: capitalize;
        line-height: 1.3em;
        border-left: 3px solid tomato;
        padding-left: 4px;
}

.heading span {
        color: tomato;
}

.left-header p {
        line-height: 1.3em;
        padding: 20px 0;
        text-transform: capitalize;
}

/* Header End */

/* Section1 Start */
.section-1 .title {
        font-size: 25px;
        text-align: center;
        color: rgb(2, 2, 46);
        padding-bottom: 20px;
}

.title span {
        color: tomato;
}

.boxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 1.5em;
        padding-bottom: 40px;
}

.box {
        width: 28%;
        padding: 20px;
        background-color: rgba(137, 43, 226, 0.275);
        border-radius: 10px;
        margin-left: 10px;
}

#box-1 {
        background-color: rgba(137, 43, 226, 0.275);
}

#box-2 {
        background-color: rgba(255, 0, 0, 0.398);
}

#box-3 {
        background-color: rgba(0, 247, 255, 0.316);
}

.boxs p {
        font-size: 15px;
}

.boxs img {
        width: 130px;
        height: 130px;
}

/* Section1 End */

/* Section2 Start */
.section-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        padding: 50px 0;
        margin-bottom: 30px;
}

.section-2 img {
        width: 350px;
        margin: auto;
}

.section-2 .left-section {
        width: 40%;
}

.section-2 .right-section {
        width: 50%;
        line-height: 1.5em;
}

.section-2 .right-section h1 {
        font-size: 30px;
        padding-bottom: 10px;
}

/* Section2 End */

/* Section3 Start */
.section-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
}

.section-3 h1 {
        padding-bottom: 10px;
        font-size: 30px;
}

.section-3 p {
        padding-bottom: 10px;
}

.section-3 img {
        width: 300px;
        margin: auto;
}

.section-3 .right-section {
        width: 40%;
        margin: auto;
}

.section-3 .left-section {
        width: 40%;
        margin: auto;
}

/* Section3 End */

/* Footer Start */
footer {
        text-align: center;
        background-color: black;
        color: white;
        line-height: 1.6em;
        padding: 40px;
}

footer a {
        color: white;
        font-size: 25px;
        transition: 0.5s ease-in-out;
}

footer a:hover {
        color: rgb(128, 128, 128);
}

/* Footer End */